{% extends 'base.html' %}
{%block content%}   


<!DOCTYPE html>
<head>
    <title>E-Medical Centre_E channeling</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
    rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
     .form-select{
      background:  #22776B;
      color: white;
      border-radius: 10px 10px 10px 10px;
    }img{
        border-radius: 140px;
        height: 250px;
        width: 250px;
    }
    </style>
    </head>
<body>
  <div class="container">
          <center><img src="static/l2.png" width="250px" height="250px">
          <br><br>
          <form method="POST">
          <h4><b>Subject</b></h4>
          <select class="form-select" aria-label="Default select example" name="category">
            <option selected value="0">Subject</option>
            <option value="1">Science</option>
            <option value="2">ICT</option>
          </select><br><br>
          <h4><b>Grade</b></h4>
          <select class="form-select" aria-label="Default select example" name="branch">
            <option selected value="0">Grade</option>
            <option value="1">10</option>
            <option value="2"></option>
          </select><br><br><br>
          <button type="submit" class="btn btn-success">next</button>
        </center><br>
        </form>
        <footer class="py-3 my-4">
            <hr>
            <p class="text-center text-body-secondary">&copy; 2024 Company, Inc</p>
          </footer>
          </div>
</body>
</html>
{%endblock%}